*{
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4{
  opacity: 0.8;
}

main{
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right top,#C1E1C1,#DAF7A6);
  display: flex;
  justify-content: center;
  align-items: center;
  color:#003300;
}

.glassDashBg{
  min-height: 80vh;
  width:70%;
  background: linear-gradient(
    to right bottom,
  rgba(255,255,255,0.6),
  rgba(255,255,255,0.2));
  border-radius: 2rem;
  z-index: 20;
  backdrop-filter: blur(2rem);
  display: flex;
}

.bgCircle1,.bgCircle2{
  height: 15rem;
  width: 15rem;
  background: linear-gradient(
    to right bottom,
  rgba(255,255,255,0.9),
  rgba(255,255,255,0.1));
  border-radius: 50%;
  position: absolute;
  top:0%;
  left:80%;
}

.bgCircle2{
  top:60%;
  left:0%
}

.avatar{
  height: 7rem;
  width: 7rem;
  object-fit: cover;
  border-radius: 50%;
}

.dashboard{
  display: flex;
  flex:1;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
  rgba(255,255,255,0.9),
  rgba(255,255,255,0.1));
  border-radius: 2rem;
}

.projects{
  flex: 2;
}

.link{
  display: flex;
  padding: 0.7rem;
  align-items: center;
}

.socials{
  background: linear-gradient(to right top,#659D32,#78AB46);
  color: white;
  padding: 1rem;
  border-radius: 2rem;
}

.underline{
  text-decoration: underline;
}

.link:hover{
  text-decoration: underline;
}

.remove-underline{
  text-decoration: unset;
}